#project {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.slider {
  width: 90%;
  height: 300px;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 30px;
  scrollbar-width: none;
  padding: 20px;
}

#experience {
  font-size: 4vmax;
  background: linear-gradient(to right, rgba(198, 42, 96), white);
  background-clip: text;
  color: transparent;
}
