#about{
  width: 100%;
  height: 100%;
  display:flex;
}


.leftabout{
  width:50%;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:40px;

}

.rightabout{
  width:50%;
  height:100vh;
}


.circle-line{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}


.circle{
  width:60px;
  height:60px;
  background-color: rgba(66, 180, 205);
  box-shadow:2px 2px 20px rgba(66, 180, 205);
  border-radius: 50%;
}


.line{
  width:2px;
  height:125px;
  background-color: aliceblue;
}


.aboutdetails{
  display:flex;
  flex-direction:column;
  gap:40px;
}

.aboutdetails span{
color: #7ad7ea;
}

.aboutdetails ul{
  list-style:none;

}

.aboutdeatils li{
  color:#ffff;
}



.personalinfo h1{
  background: linear-gradient(to right, rgba(198, 42, 96), white);
  background-clip: text; /* used to give only behind the text */
  color: transparent;
}



.educationinfo h1{
  background: linear-gradient(to right, rgba(198, 42, 96), white);
  background-clip: text; /* used to give only behind the text */
  color: transparent;
}



.skillsinfo h1{
  background: linear-gradient(to right, rgba(198, 42, 96), white);
  background-clip: text; /* used to give only behind the text */
  color: transparent;
}


.rightabout{
  width:50%;
  height:100vh;
  display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
gap:20px;

}




/* .htmlcssjs img{
  width:50%;
} */


@media (max-width:699px){
  #about{
    flex-direction:column;
  }



.leftabout{
  width:100%;
  padding:10%;
}


.rightabout{
  width:100%;
}

}