

.card {
  width:90%;
  max-width: 400px;
  height: 170px;
  background-color:  #313131ff;
  position:relative;
  overflow:hidden;
  display:flex;
  justify-content:center;
  text-align:center;
  align-items:center;
  box-shadow:2px 2px 10px black , 10px 10px 20px black;
  border-radius:10px;
  transition:all 0.2s;
  cursor:pointer;
  flex-shrink:0;
}

.card:hover{
  box-shadow:2px 2px 10px rgba(87, 195, 219) , 2px 2px 20px rgba(82, 205, 207);
}

.hovercard img {
 height:80%;
  filter:drop-shadow(2px 2px 10px black);
}

.hovercard {
  width: 100%;
  height: 100%;
  background:linear-gradient(to top, rgba(118, 204, 214, 0.475),  rgb(15,20,22,0.500));
  position: absolute;
  bottom:0;
  transform:translateY(100%);
  transition: all 0.5s;
  display:flex;
  align-items:center;
  justify-content:center;
  backdrop-filter:blur(7px);
}




.card:hover .hovercard{
  transform:translateY(0%);
}


.card h1{
  background: linear-gradient(to right, rgba(198, 42, 96), white);
  background-clip: text;     /* used to give only behind the text */
  color: transparent; 
}