#home {
  width: 100%;
  height: 90vh;
  display: flex;
}

.lefthome {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
}

.righthome {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.righthome img {
  width: 80%;
  filter: drop-shadow(4px 4px 25px rgba(66, 180, 205, 0.9));
}

.homedetails {
  font-size: 2vmax;
}

.line1 {
  font-size: 0.8em;
}

.line2 {
  font-size: 2.5em;
  background: linear-gradient(to right, rgba(66, 180, 205), white);
  background-clip: text; /* used to give only behind the text */
  color: transparent;
}

.line3 {
  font-size: 1em;
}

.lefthome button {
  padding: 10px 30px;
  background: rgba(66, 180, 205);
  border: 2px solid rgba(66, 180, 205);
  color: black;
  margin-top: 30px;
  border-radius: 20px;
  font-size: 19px;
  transition: all 0.5s;
  cursor: pointer;
}

.lefthome button:hover {
  background-color: transparent;
  color: rgba(66, 180, 205);
}

@media (max-width: 699px) {
  #home {
    flex-direction: column-reverse;
  }

  .lefthome {
    width: 100%;
    height: 50vh;
  }

  .righthome {
    width: 100%;
    height: 50vh;
    align-items: end;
  }
}
