nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index:20;
  background-color: rgba(17, 20, 23);
}

nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 16px;
}

nav ul a {
  cursor: pointer;
}

nav ul a:hover {
  color: aqua;
  transition: 0.3s ease;
  border-bottom: 2px solid white;
}

.active {
  color: aqua;
  transition: 0.3s ease;
  border-bottom: 2px solid white;
}

nav h1 {
  font-size: 25px;
  font-weight: 600;
  background: linear-gradient(to right, rgba(66, 180, 205), white);
  background-clip: text; /* used to give only behind the text */
  color: transparent;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  display: none;
}

.ham {
  width: 30px;
  height: 2px;
  background-color: aliceblue;
  transition: all 0.5s;
}

.mobilemenu {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 100vh;
  right: 0;
  background-color: rgba(17, 20, 23, 0.476);
  backdrop-filter: blur(7px);
  flex-direction: column;
  transform: translateX(100%);
  gap: 50px;
}

.activemobile {
  transform: translate(0%);
}

.activeham .ham:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 9px;
}

.activeham .ham:nth-child(2) {
  transform: rotate(-45deg);
  opacity: 0;
}

.activeham .ham:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  bottom: 11px;
}

@media (max-width: 699px) {
  .desktopmenu {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}
